/* h1{
    color:aquamarine;
    background-color: rgb(208, 21, 21);
} */


.para{
    color :rgb(14, 27, 22);
    /* background-color: blanchedalmond; */
}

.newPara{
      background-color: blanchedalmond;
}